<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Scraping the News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>
  <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="/">NYT News Scraper</a>
            </div>
            <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Scrape Articles</button></li>
            </ul>
        </div>
    </nav>
    {{{body}}}
  </body>
</html>

<script>
      $(".btn").on("click", function() {
          window.location.href = "/scrape";
      });
</script>
